# This is the Ist assignment of PW Skills Data Science Course.

## Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
all_datas=["This is String",[1,2,3,4,5],2.0,("This","is","tuple")]
print(all_datas)

['This is String', [1, 2, 3, 4, 5], 2.0, ('This', 'is', 'tuple')]

## Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [2]:
var1=''
print(f"Data Type of the var1 = {type(var1)}")
var2='[ DS , ML , Python]'
print(f"Data Type of the var2 = {type(var2)}")
var3= [ 'DS' , 'ML' , 'Python' ] 
print(f"Data Type of the var3 = {type(var3)}")
var4=1.
print(f"Data Type of the var4 = {type(var4)}")

Data Type of the var1 = <class 'str'>
Data Type of the var2 = <class 'str'>
Data Type of the var3 = <class 'list'>
Data Type of the var4 = <class 'float'>

## Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
# (i) This "/" Front Slash is use to divide any number to any number as shown below.
x=10
y=5
z=x/y
print(z)

2.0

In [4]:
# (ii) This "%" Percent symbol is also use to gives the reminder of the devide and if it is completly divided then it gives 0 as remainder
x=20
y=3
z=x%y
print(z)

2

In [5]:
# (ii) This "//" Double shash is also use to gives the whole value of the divident.
x=19
y=5
z=x//y
print(z)

3

In [6]:
# (ii) This "**" Double start is also used as power.
x=4
y=3
z=x**y
print(z)

64

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [7]:
list_10=[1,2,3.,4.0,"a",["x","y","z"],("p","q","r"),{"m","n","o"},True,False]
for i in list_10:
    print(i)
    print(f"Data type of {i} is {type(i)}")

1
Data type of 1 is <class 'int'>
2
Data type of 2 is <class 'int'>
3.0
Data type of 3.0 is <class 'float'>
4.0
Data type of 4.0 is <class 'float'>
a
Data type of a is <class 'str'>
['x', 'y', 'z']
Data type of ['x', 'y', 'z'] is <class 'list'>
('p', 'q', 'r')
Data type of ('p', 'q', 'r') is <class 'tuple'>
{'o', 'n', 'm'}
Data type of {'o', 'n', 'm'} is <class 'set'>
True
Data type of True is <class 'bool'>
False
Data type of False is <class 'bool'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [8]:
A=int(input("Please enter A = "))
B=int(input("Please enter B = "))
while True:
    if A%B==0:
        print(A/B)
        break
    else:
        print(f"{A} can't be completely divided by {B}")
        break

Please enter A = 10
Please enter B = 5
2.0

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [9]:
list_25=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list_25:
    if i%3==0:
        print(f"{i} is completly divisible by 3")
    else:
        print(f"   {i} is can't be divisible by 3")

   1 is can't be divisible by 3
   2 is can't be divisible by 3
3 is completly divisible by 3
   4 is can't be divisible by 3
   5 is can't be divisible by 3
6 is completly divisible by 3
   7 is can't be divisible by 3
   8 is can't be divisible by 3
9 is completly divisible by 3
   10 is can't be divisible by 3
   11 is can't be divisible by 3
12 is completly divisible by 3
   13 is can't be divisible by 3
   14 is can't be divisible by 3
15 is completly divisible by 3
   16 is can't be divisible by 3
   17 is can't be divisible by 3
18 is completly divisible by 3
   19 is can't be divisible by 3
   20 is can't be divisible by 3
21 is completly divisible by 3
   22 is can't be divisible by 3
   23 is can't be divisible by 3
24 is completly divisible by 3
   25 is can't be divisible by 3

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [10]:
# As the name itself suggesting the property like: The mutable data types are the data types that gives a feasibiliy to update,
# change, add, remove all these operationes can be performed in mutable data types.
# And the immutable data types are the data types which wouldn't allows to update its value.
# For more clearification below are the given example of each data type

#Below are the example of mutable data type where we used list data type.
data_mutable=[1,5,3,3]
data_mutable[1]=2
data_mutable.pop()
data_mutable.append(4)
print(data_mutable)

[1, 2, 3, 4]

In [11]:
#Below are the example of immutable data type where we used string data type.
data_immutable="Hallo world"
data_immutable[1]="e"

TypeError: 'str' object does not support item assignment

In [12]:
#Above we notice that we stricked an error that error shows that str object does not support item assignment.